/* JetBrains Mono */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100 900;
  src: url('@fontsource/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2') format('woff2-variations');
}
